<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Secret santa</title>
    <link rel="shortcut icon" href="favicon.ico"></link>
    <link rel="stylesheet" href="/css/styles.css"></link>
  </head>
  <body>
    <header>
      <div class="content">
        <a href="/"><h2>Secret santa</h2></a>
      </div>
    </header>
    <main class="content">
    {{{body}}}
    </main>
  </body>
</html>
