<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Secret santa</title>
    <link rel="stylesheet" href="/css/styles.css"></link>
  </head>
  <body>
    <header>
      <h2>Secret santa</h2>
    </header>
    {{{body}}}
  </body>
</html>
