<h4>Enter a comma delmited list of names that you want entered into your secret santa draw</h4>


<form action="/new" method="post">
  <textarea id="names" name="names" rows="5" cols="50" autofocus></textarea>
  <button id="submitNames" type="submit"> Add names </button>
</form>
