<h4>Enter a comma delmited list of names that you want enterd into your secre santa draw</h4>


<form action="/data" method="post">
  <textarea id="names" name="names" rows="5" cols="50"></textarea>
  <button id="submitNames" type="submit"> Add names </button>
</form>


<script src="/js/addNames.js"></script>
