Your names for secret santa have been stored. Here's a list:

<li class="confirmed-names">
{{#each names}}
  <ul>{{this}}</ul>
{{/each}}
</li>


<div>
  <a href="/new">Click here to go back and edit the names.</a>
  <a href="/">Click here to go to the main page.</a>
</div>