<h1>Secret santa</h1>
<form action="/" method="post" class="main-form">
  <label class="form-item" for="name-field">Enter your name to see who your secret santa match is</label>
  <input class="form-item name-input" name="name" type="text">
  <button class="form-item form-submit" type="submit">Find my match</button>
</form>
