<div class="result">
  <div class="result-title">
    Your secret santa match is:
  </div>

  <div class="result-name">
    {{result}}!
  </div>

  <div>
    Don't tell <strong>anyone</strong> who your match is. Guard this secret with your life!
  </div>
</div>
